<div class="breadcrumbs">
	<div class="row1">

	<ul id="nav-footer" class="linklist bulletin" role="menubar">
		<li class="small-icon icon-home breadcrumbs">
			<!-- IF U_SITE_HOME --><li class="small-icon icon-home"><a href="{U_SITE_HOME}" data-navbar-reference="home">{L_SITE_HOME}</a></li><!-- ENDIF -->
			<!-- EVENT overall_footer_breadcrumb_prepend -->
			<li class="small-icon icon-home"><a href="{U_INDEX}" data-navbar-reference="index">{L_INDEX}</a></li>
			<!-- EVENT overall_footer_breadcrumb_append -->
	</ul>

	</div>
</div>
